

/*Classes especificas*/
a:visited, a:active{color: gray;}
.txt:focus{z-index: 2;}

/*Zerar valores*/
*{margin: 0; padding: 0; text-decoration: none; list-style: none;}
.body{background-image: url("../_img/fundo.jpg");background-repeat: no-repeat; overflow: hidden; background-position: center;}
/*Alinhamento*/
.tac{text-align: center;}
.fleft{float: left;}
.fright{float: right;}

/*Background*/
.bgc1a{background-color: #1A1A1A;}
.bgcTH{background-color: #C8C8C8;}
.bgchf{background-color: rgba(192,192,192,0.3)}
.bgcEC{background-color: #ECECEC;}
.bgcpdr{background-color: #004EEC;}
.bgcb{background-color: #000000;}
.bgcba{background-color: rgba(0,0,0,0.2);}
.bgcba3{background-color: rgba(0,0,0,0.3);}
.bgcba6{background-color: rgba(0,0,0,0.6);}
.bgcba8{background-color: rgba(0,0,0,0.8);}
.bgc40c3{background-color: #0000CC;}
.bgcMenu{background-color: #00006B;}
.bgc02b2{background-color: #0200B2;}
.bgc04ea{background-color: #004EEA;}
.bgcC1{background-color: #C1C1C1;}
.bgcgaf{background: linear-gradient(to left, rgb(171,186,171), rgb(255,255,255));}
.bgcFFF{background-color: #FFFFFF;}
.bgcD9{background-color: #D9D5EE;}
.bgcNavy{background-color: navy;}
.bgc5F{background-color: #5FC7C6;}
.bgcTry{background-color: darkslategray;}

/*Bordas*/
.bradius{border-radius: 6px;}
.brTr0{border-top-right-radius: 0px;}
.brTl0{border-top-left-radius: 0px;}
.brBl6{border-bottom-left-radius: 6px;}
.brBl0{border-bottom-left-radius: 0px;}
.brBr6{border-bottom-right-radius: 6px;}
.brBr0{border-bottom-right-radius: 0px;}
.bftsc1{border: thin solid #C1C1C1;}
.btse2{border: thin solid #E2E2E2;}
.bbtsc1{border-bottom: thin solid #C1C1C1;}
.bl4sc1{border-left: 4px solid #C1C1C1;}
.bdcTry{border-color: darkslategray;}
.w3-border-try{border-color: darkslategray!important;}

/*Box-Sizing*/
.bsbb{box-sizing: border-box;}

/*Box-Shadow*/
.bxsrbb{box-shadow: 0 10px 10px 0 #000;}
.bxsrb18{box-shadow: 0 10px 10px 0 #180040;}


/*Cursor*/
.cp{cursor: pointer;}

/*Display*/
.dib{display: inline-block;}
.dbl{display: block;}
.dnn{display: none;}
.din{display: inline;}

/*Fontes*/
.fs40e{font-size: 4em;}
.fs30e{font-size: 3em;}
.fs20e{font-size: 2em;}
.fs17e{font-size: 1.7em;}
.fs14e{font-size: 1.4em;}
.fs11e{font-size: 1.1em;}
.fs095e{font-size: 0.95em;}
.fs087e{font-size: 0.87em;}
.fs076e{font-size: 0.76em;}
.fs065e{font-size: 0.65em;}
.fs60{font-size: 60px;}
.fs50{font-size: 50px;}
.fs30{font-size: 30px;}
.fcFFF{color: #FFF;}
.fc000{color: #000;}
.fc20b{color: #0200B2;}
.fc27068{color: #041277;}
.fcred{color: darkred;}
.fcNavy{color: navy;}
.fc{color: #cccccc;}
.fwb{font-weight: bold;}
.fwn{font-weight: normal;}

/*height*/
.hfull{height: 100%;}
.h675{height: 675px;}
.h500{height: 500px;}
.h460{height: 460px;}
.h450{height: 450px;}
.h400{height: 400px;}
.h380{height: 380px;}
.h355{height: 355px;}
.h309{height: 309px;}
.h300{height: 300px;}
.h265{height: 265px;}
.h200{height: 200px;}
.h150{height: 150px;}
.h130{height: 130px;}
.h115{height: 115px;}
.h100{height: 100px;}
.h90{height: 90px;}
.h80{height: 80px;}
.h65{height: 65px;}
.h50{height: 50px;}
.h45{height: 45px;}
.h40{height: 38px;}
.h30{height: 30px;}
.h20{height: 20px;}
.h05{height: 5px;}
.hauto{height: auto;}
.mnh2k{min-height: 2000px;}

/*index*/
.zi1{z-index: 1;}
.zi2{z-index: 2;}
.zi4{z-index: 4;}
/*margem*/
.ma{margin: auto;}
.ma0{margin: auto 0;}
.m15a{margin: 15% auto;}
.m10a{margin: 10% auto;}
.m5a{margin: 5% auto;}
.m0a{margin: 0 auto;}
.m03{margin: 0 3%;}
.m60{margin: 6px 0;}
.m303{margin: 30px 3%;}
.m10px{margin: 10px;}
.mt415{margin-top: 415px;}
.mt200{margin-top: 200px;}
.mt160{margin-top: 160px;}
.mt130{margin-top: 130px;}
.mt120{margin-top: 120px;}
.mt115{margin-top: 115px;}
.mt100{margin-top: 100px;}
.mt80{margin-top: 80px;}
.mt70{margin-top: 70px;}
.mt50{margin-top: 50px;}
.mt35{margin-top: 35px;}
.mt25{margin-top: 25px;}
.mt20{margin-top: 20px;}
.mt15{margin-top: 15px;}
.mt10{margin-top: 10px;}
.mt05{margin-top: 5px;}
.mt03{margin-top: 3px;}
.mr3p{margin-right: 3%;}
.mr150{margin-right: 150px;}
.mr50{margin-right: 50px;}
.mr10{margin-right: 10px;}
.mr05{margin-right: 5px;}
.mr03{margin-right: 3px;}
.mb125{margin-bottom: 125px;}
.mb120{margin-bottom: 120px;}
.mb110{margin-bottom: 110px;}
.mb100{margin-bottom: 100px;}
.mb90{margin-bottom: 90px;}
.mb80{margin-bottom: 80px;}
.mb70{margin-bottom: 70px;}
.mb50{margin-bottom: 50px;}
.mb35{margin-bottom: 35px;}
.mb15{margin-bottom: 15px;}
.mb10{margin-bottom: 10px;}
.mb05{margin-bottom: 5px;}
.mb-1{margin-bottom: -1px;}
.ml150{margin-left: 150px;}
.ml120{margin-left: 120px;}
.ml110{margin-left: 110px;}
.ml90{margin-left: 90px;}
.ml85{margin-left: 85px;}
.ml80{margin-left: 80px;}
.ml70{margin-left: 70px;}
.ml65{margin-left: 65px;}
.ml60{margin-left: 58px;}
.ml50{margin-left: 50px;}
.ml45{margin-left: 45px;}
.ml42{margin-left: 42px}
.ml33{margin-left: 33px;}
.ml30{margin-left: 30px;}
.ml21{margin-left: 21px;}
.ml15{margin-left: 15px;}
.ml10{margin-left: 10px;}
.ml03{margin-left: 3px;}
.ml05p{margin-left: 5%;}
.l250{left: 250px;}
.l0{left: 0;}
.t25{top: 25px;}
.t0{top: 0;}
.r0{right: 0;}
.b0{bottom: 0;}

.r25{right: 25px;}

/*Overflow*/
.oxh{overflow-x: hidden;}
.ofa{overflow: auto;}

/*Outros*/
.cp{cursor: pointer;}

/*Padding*/
.p30{padding: 30px;}
.p15{padding: 15px;}
.p10{padding: 10px;}
.p8{padding: 8px;}
.p5{padding: 5px;}
.pt70{padding-top: 70px;}
.pt60{padding-top: 60px;}
.pt40{padding-top: 40px;}
.pt10{padding-top: 10px;}
.pt05{padding-top: 05px;}
.pt03{padding-top: 03px;}
.pt02{padding-top: 02px;}
.pl30{padding-left: 30px;}
.pl25{padding-left: 25px;}
.pl20{padding-left: 20px;}
.pl10{padding-left: 10px;}
.pl05{padding-left: 05px;}
.pr30{padding-right: 30px;}
.pr25{padding-right: 25px;}
.pr20{padding-right: 20px;}
.pr10{padding-right: 10px;}
.pr05{padding-right: 05px;}
.pb40{padding-bottom: 40px;}
.pb15{padding-bottom: 15px;}
.pb10{padding-bottom: 10px;}
.pb05{padding-bottom: 05px;}
.pb03{padding-bottom: 03px;}
.pb02{padding-bottom: 02px;}

/*Position*/
.pa{position: absolute;}
.pfx{position: fixed;}
.pr{position: relative;}

/*Text-Transform*/
.ttuc{text-transform: uppercase;}

/*Transição*/
.bt, .bt:hover, .txt, .txt:focus{transition: all 0.5s linear;}
.tr06{transition: 0.6s;}
.trMl06{transition: margin-left 0.6s;}

/*width*/
.wfull{width: 100%;}
.w1000{width: 1000px;}
.w860{width: 860px;}
.w850{width: 850px;}
.w840{width: 840px;}
.w800{width: 800px;}
.w770{width: 770px;}
.w750{width: 750px;}
.w700{width: 700px;}
.w650{width: 650px;}
.w600{width: 630px;}
.w500{width: 500px;}
.w495{width: 495px;}
.w450{width: 450px;}
.w420{width: 420px;}
.w405{width: 405px;}
.w400{width: 400px;}
.w385{width: 385px;}
.w365{width: 365px;}
.w350{width: 350px;}
.w300{width: 300px;}
.w285{width: 285px;}
.w250{width: 250px;}
.w230{width: 230px;}
.w225{width: 225px;}
.w200{width: 200px;}
.w195{width: 195px;}
.w175{width: 175px;}
.w150{width: 150px;}
.w100{width: 100px;}
.w90{width: 90px;}
.w70{width: 70px;}
.w65{width: 65px;}
.w35{width: 35px;}
.w25{width: 25px;}
.w15{width: 15px;}
.w0{width: 0;}
.mxw330{max-width: 330px;}


/* Classe complementares */
.w3-input-50{padding:8px;border:none;border-bottom:1px solid #ccc;width:49.75%}
.w3-input-40{padding:8px;border:none;border-bottom:1px solid #ccc;width:40%}
.w3-input-25{padding:8px;border:none;border-bottom:1px solid #ccc;width:24.75%}